.header {
  margin-left: -0.8rem;
  padding-left: 0.8rem;
  margin-right: -0.8rem;
  padding-right: 0.8rem;
  border-bottom: 1px solid #e2202b; }

.header-home__title {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  color: #333333;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 1.5rem 0;
  margin: 2em 0 1em; }
  @media (min-width: 48em) {
    .header-home__title {
      padding-left: 15%; } }

.header-resume {
  *zoom: 1; }
  .header-resume:before, .header-resume:after {
    content: "";
    display: table; }
  .header-resume:after {
    clear: both; }
  @media (min-width: 35em) {
    .header-resume__title {
      float: left;
      width: 60%; } }
  @media (min-width: 35em) {
    .header-resume__body {
      float: right;
      width: 40%; } }
  .header-resume__email {
    display: block;
    margin-top: 3rem; }
  .header-resume__footer {
    *zoom: 1; }
    .header-resume__footer:before, .header-resume__footer:after {
      content: "";
      display: table; }
    .header-resume__footer:after {
      clear: both; }
  .header-resume__sub-title {
    font-style: italic; }

.header-case-study {
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-grow: inherit;
  -moz-flex-grow: inherit;
  flex-grow: inherit;
  -ms-flex-positive: inherit; }
  .header-case-study__title {
    margin-bottom: 8px; }
  .header-case-study__project {
    margin-top: 0; }
  .header-case-study__url {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: #454958;
    margin-bottom: 0.75rem;
    text-transform: lowercase; }

.primary-nav {
  display: none;
  padding: 2em 0; }
  @media (min-width: 48em) {
    .primary-nav {
      display: inherit; } }
  @media (min-width: 48em) {
    .primary-nav .primary-nav__item {
      display: inline-block; } }
  .primary-nav .module-title {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 36px;
    line-height: 2.25rem;
    margin: 1.5rem 0;
    margin: 0;
    padding: 16px 0; }
    @media (min-width: 48em) {
      .primary-nav .module-title {
        padding-bottom: 12px;
        border-bottom: 4px solid #57A3E8; } }
  .primary-nav .module-title__desc {
    display: block;
    font-family: 'Lora', 'Georgia', serif;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0;
    margin: 0;
    padding-left: 4px;
    line-height: 1; }

.home-nav__body, .case-study-nav__body {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #454958;
  margin-bottom: 0.75rem;
  line-height: 26px;
  line-height: 1.625rem; }

.case-study-nav__title.is-current {
  padding-left: 4px; }

.home-nav__header, .case-study-nav__header {
  font-weight: bold; }
/*# sourceMappingURL=components.css.map */