.header {
  border-bottom: 1px solid #e2202b;
  background-color: #fff; }
  .header__body {
    padding: 0 0.8rem;
    z-index: 1; }
    @media (min-width: 64em) {
      .header__body {
        padding: 0 1.8rem; } }
  .header__title {
    margin-top: 0;
    padding-top: 3rem; }
  .header__nav-toggle {
    display: block;
    position: absolute;
    top: 16px;
    right: 12px;
    height: 40px;
    width: 36px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
    .header__nav-toggle .hamburger {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #454958;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: .25s ease-in-out; }
      .header__nav-toggle .hamburger:nth-child(1) {
        top: 0px; }
      .header__nav-toggle .hamburger:nth-child(2) {
        top: 8px; }
      .header__nav-toggle .hamburger:nth-child(3) {
        top: 16px; }
    .header__nav-toggle .label {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 18px;
      line-height: 1.125rem;
      letter-spacing: 0.008rem;
      margin: 0;
      font-size: 10px;
      text-transform: uppercase;
      color: #454958; }
  .header__nav-toggle.is-open .hamburger:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  .header__nav-toggle.is-open .hamburger:nth-child(2) {
    opacity: 0;
    left: -36px; }
  .header__nav-toggle.is-open .hamburger:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }

.header-home {
  margin-bottom: 36px; }
  @media (min-width: 48em) {
    .header-home__title {
      padding-left: 15%; } }

.header-resume::after {
  clear: both;
  content: "";
  display: table; }
.header-resume__title {
  margin-bottom: 0; }
.header-resume__sub-title {
  font-style: italic; }

.header-case-study__title {
  margin-bottom: 8px; }
.header-case-study__project {
  margin-top: 0; }
.header-case-study__url {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  letter-spacing: 0.008rem;
  margin: 0;
  text-transform: lowercase; }
  @media (min-width: 54em) {
    .header-case-study__url {
      font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem;
      color: #454958;
      margin-bottom: 0.75rem;
      float: right;
      margin-top: 1.2rem; } }

.primary-nav {
  position: absolute;
  top: -228px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: -1;
  background-color: #454958;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  transition: none; }
  .primary-nav:focus {
    outline: 0; }
  .primary-nav__a {
    display: block;
    width: 100%;
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin: 1.5rem 0;
    margin: 0;
    padding: 16px;
    color: #fff;
    border-bottom: 1px solid #BEBFC5; }
    .primary-nav__a:hover {
      text-decoration: none;
      background-color: #BEBFC5; }
  .primary-nav__body {
    padding: 0; }
    .primary-nav__body li {
      margin: 0; }

.home-nav__body, .case-study-nav__body {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #454958;
  margin-bottom: 0.75rem;
  line-height: 26px;
  line-height: 1.625rem; }

.case-study-nav__title.is-current {
  padding-left: 4px; }

.home-nav__header, .case-study-nav__header {
  font-weight: bold; }

.site-nav {
  margin-top: 36px;
  padding: 1rem; }

.footer {
  margin: 0;
  padding: 1rem 0;
  border-top: 1px solid #BEBFC5;
  background-color: #fff; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer .contact-info {
    padding: 0 0.8rem; }
    @media (min-width: 64em) {
      .footer .contact-info {
        padding: 0 1.8rem; } }
/*# sourceMappingURL=components.css.map */