<footer class="footer" role="footer">
  <div class="contact-card" data-object="contact-card">
    <div class="contact-card__body">
      <div class="contact-card__front list--media-object" data-behavior="contact-card.flip">
        <div class="contact-card__photo list--media-object__figure">
          <img src="{{ site.baseurl }}/images/me-thumb.jpg" alt="Me in 2011" />
        </div>
        <div class="list--media-object__body">
          <h4 class="contact-card__title">
            <span class="first">Matthew</span> <span class="last">Dingee</span>
          </h4>
          <h5 class="contact-card__subtitle">UX Designer</h5>
          <ul class="contact-card__info">
            <li>
              <a class="btn--primary contact-card__email" href="mailto:matthew.j.dingee@gmail.com"><i class="far fa-envelope"></i> Email</a>
            </li>
            <li>
              <a class="btn contact-card__phone" href="tel://1-202-725-0202"><i class="fas fa-phone"></i> Call</a>
            </li>
          </ul>
        </div>
        <span class="contact-card__flip" data-behavior="contact-card.flip">
          <img class="contact-card__flip-dots" src="{{ site.baseurl }}/images/dots.svg" draggable="false" />
        </span>
      </div>
      <div class="contact-card__back">
        <span class="contact-card__flip-revert fas fa-arrow-left" data-behavior="contact-card.flip-revert"></span>
        <ul class="contact-card__profile-list">
          <li class="full-width">
            <a class="contact-card__button" href="mailto:matthew.j.dingee@gmail.com"><i class="far fa-envelope"></i> matthew.j.dingee@gmail.com</a>
          </li>
          <li class="full-width">
              <a class="contact-card__button" href="tel://1-202-725-0202"><i class="fas fa-phone"></i> 202-725-0202</a>
          </li>
          <li>
            <a href="https://github.com/humancompanion" class="contact-card__button"><i class="fab fa-github-square"></i> GitHub</a>
          </li>
          <li>
            <a class="contact-card__button" href="https://www.linkedin.com/in/matthewdingee/"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </li>
          <li>
            <a href="https://www.twitter.com/humancompanion" class="contact-card__button"><i class="fab fa-twitter-square"></i> Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
