@import url('http://fonts.googleapis.com/css?family=Roboto:300');
@import url(http://fonts.googleapis.com/css?family=Lora|Montserrat);
@media print {
  
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
            text-size-adjust: none; }
  body {
    color: #454958;
    font-family: 'Lora', 'Georgia', serif;
    font-size: 12px;
    font-size: 0.8571428571rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    color: #454958;
    margin-bottom: 0.6428571429rem;
    margin-bottom: 0; }
  *[dir="ltr"] {
    direction: ltr;
    unicode-bidi: embed; }
  *[dir="rtl"] {
    direction: rtl;
    unicode-bidi: embed; }
  bdo[dir="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  bdo[dir="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  h1 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-weight: 800;
    font-size: 22px;
    font-size: 1.5714285714rem;
    line-height: 45px;
    line-height: 3.2142857143rem;
    margin: 2.5714285714rem 0; }
  h2 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 22px;
    font-size: 1.5714285714rem;
    line-height: 36px;
    line-height: 2.5714285714rem;
    margin: 2.5714285714rem 0 1.2857142857rem;
    text-transform: uppercase; }
  h3 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 20px;
    font-size: 1.4285714286rem;
    line-height: 27px;
    line-height: 1.9285714286rem;
    margin: 1.2857142857rem 0 1rem; }
  h4 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 16px;
    font-size: 1.1428571429rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 1.2857142857rem 0 0.8571428571rem; }
  h5 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 0.6428571429rem 0 0.3571428571rem; }
  h6 {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
    font-size: 0.8571428571rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 0.6428571429rem 0 0.3571428571rem; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    text-decoration: none; }
  p {
    font-family: 'Lora', 'Georgia', serif;
    font-size: 12px;
    font-size: 0.8571428571rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    color: #454958;
    margin-bottom: 0.6428571429rem;
    max-width: 48rem; }
  .small {
    font-family: 'Lora', 'Georgia', serif;
    font-size: 10px;
    font-size: 0.7142857143rem;
    margin: 0; }
  .fine-print {
    font-family: 'Lora', 'Georgia', serif;
    font-size: 10px;
    font-size: 0.7142857143rem;
    line-height: 14px;
    line-height: 1rem;
    letter-spacing: 0.008rem;
    margin: 0; }
  em, i {
    font-style: italic; }
  strong, b {
    font-weight: bold; }
  hr {
    margin: 0.5rem 0;
    height: 1px;
    border: 1px solid #454958; }
  blockquote {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
    font-size: 0.8571428571rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 0.6428571429rem 0 0.3571428571rem;
    color: #454958;
    padding-left: 1.8rem;
    margin: 2rem auto; }
  .enlarge {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-size: 16px;
    font-size: 1.1428571429rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 1.2857142857rem 0 0.8571428571rem;
    line-height: 23.4px; }
  body {
    background-color: #fff; }
  p, .section_body, .notes {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px; }
  .notes {
    font-size: 10px; }
    .notes--extended {
      padding: 0; }
  .l-shell {
    border: 0; }
  .content-well {
    padding-bottom: 0.5rem; }
  .footer {
    padding: 0; }
    .footer .contact-info {
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-weight: 300; }
  h2, h3, h4, h5 {
    margin: 0; }
  h4 {
    line-height: 1.8rem; }
  h5 {
    margin-bottom: 0;
    line-height: 1.6rem; }
  .header__nav-toggle {
    display: none; }
  .header__title {
    padding-top: 0.5rem; }
  .header-resume__sub-title {
    margin-bottom: 0.4rem; }
  .section_title {
    margin-top: 1rem;
    margin-bottom: 0; }
  p {
    max-width: inherit;
    margin-bottom: 0.5rem; }
  .enlarge {
    font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
    font-size: 0.8571428571rem;
    line-height: 18px;
    line-height: 1.2857142857rem;
    margin: 0.6428571429rem 0 0.3571428571rem;
    margin: 0 0 0.5rem;
    line-height: 19.8px; }
  #technical {
    display: none; }
  .skills .section_title {
    display: none; }
  .skills div.section_body dl {
    float: left;
    width: 33%;
    margin-bottom: 0;
    padding-left: 1rem; }
    .skills div.section_body dl dt {
      margin: 0; }
    .skills div.section_body dl dd {
      display: none; }
  .job {
    margin-bottom: 0.8rem; }
    .job::after {
      clear: both;
      content: "";
      display: table; }
    .job:last-child {
      margin-bottom: 0; }
    .job h3 {
      padding-top: 0;
      border-top: 0; }
    .job h4, .job h5 {
      font-family: Roboto, sans-serif;
      font-weight: 300; }
    .job__details {
      float: left;
      width: 33%; }
    .job__timespan {
      display: block; }
  #railsdog {
    display: none; }
  .location {
    display: none; }
  .accomplishments {
    float: right;
    width: 65%;
    margin-left: 2%; }
    .accomplishments li {
      display: none; }
    .accomplishments li.accomplishment_desc {
      display: inherit;
      margin-top: 0;
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      line-height: 16px; } }
/*# sourceMappingURL=resume-print.css.map */