/* ----------------------------- Base -----------------------------------*/
ul li {
  margin-left: 10px;
  list-style-type: circle; }

p, ol, ul {
  padding-bottom: 6px; }

ol, ul {
  padding-left: 20px; }

/* ----------------------------- Header -----------------------------------*/
.enlarge {
  margin-top: 0; }

/* ----------------------------- Sections -----------------------------------*/
section::after {
  clear: both;
  content: "";
  display: table; }

.section_title {
  margin-bottom: .5em; }
  @media (min-width: 48em) {
    .section_title {
      float: left;
      width: 25%;
      margin-bottom: 2em;
      padding: 2em 0; } }
  @media (min-width: 48em) {
    .section_title h2 {
      margin-top: 0;
      font-size: 28px;
      line-height: 1.4; } }
  @media (min-width: 54em) {
    .section_title h2 {
      padding-left: 10%; } }

.section_body {
  max-width: 850px; }
  .section_body::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 48em) {
    .section_body {
      float: right;
      width: 73%;
      margin-left: 2%;
      margin-bottom: 1em;
      padding-top: 2em;
      padding-bottom: 1em;
      border-top: 1px solid #333333; } }
  .section_body.first {
    border-top: 0; }

/* ----------------------------- Skills -----------------------------------*/
.skills-list li {
  margin: 3px 0;
  padding: 3px 0; }

.skills-list li span {
  display: block;
  font-size: 152%;
  margin-bottom: -2px;
  padding: 0; }

.skills div.section_body dl {
  margin-bottom: 1em; }
  @media (min-width: 42em) {
    .skills div.section_body dl {
      float: left;
      width: 30%;
      padding-left: 15px; } }

.skills div.section_body dl:first-child {
  padding-left: 0; }

.skills div.section_body dl dt {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  color: #333333;
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0.75rem 0 0.5rem; }

/* ----------------------------- Technical -----------------------------------*/
.talent {
  float: left;
  width: 40%; }
  @media (min-width: 35em) {
    .talent {
      width: 25%; } }

.talent h2 {
  margin-bottom: 6px; }

/* ----------------------------- Experience -----------------------------------*/
.job {
  position: relative;
  margin-bottom: 1.5em; }

.job .location {
  font-family: 'Montserrat', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0.75rem 0 0.5rem;
  margin-top: 0; }

.job h3 {
  text-transform: inherit;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-bottom: 0; }

.first h3 {
  border-top: 0px;
  margin-top: 0;
  padding-top: 0; }

#experience ul li.accomplishment_desc {
  list-style-type: none;
  margin-left: -1em;
  margin-top: 1em;
  margin-bottom: 0.75rem; }

#experience ul li ol li {
  list-style-type: disc; }

.notes, ol.notes li {
  font-family: 'Lora', 'Georgia', serif;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0; }

.notes {
  padding-bottom: 2px; }

/*# sourceMappingURL=resume.css.map */