// ---------------------------------------------------------------------------
// Layout: Home

@use "util/util";

.l-home,
.l-home-content-well {
  background-color: util.$grey-cover;

  :focus {
    outline: 2px solid util.$white;
    outline-offset: 2px;
  }
}

.l-home {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: solid util.$grey-cover;
  border-width: 8px 0 2px 0;
}

.l-home-content-well {
  &__photo {
    position: relative;
    max-height: 80vh;
    max-width: util.$page--max-width;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  &__callout {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 38, 38, 0.6);
  }

  &__callout-text {
    font-family: util.$font_cover2;
    @include util.fontSize(util.$type-SM);
    @include util.lineHeight(util.$base-line-height * 1.4);
    margin: util.calculateRem(util.$base-line-height) 0
      util.calculateRem(util.$base-line-height - 4);
    padding: 0 util.$page--gutter-width-S;
    width: 100%;
    max-width: 66ch;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    color: util.$white;

    @include util.breakpoint(SM) {
      @include util.fontSize(util.$type-M);
    }

    @include util.breakpoint(ML) {
      width: 45%;
    }
  }
}

.l-home-case-studies,
.l-home-experience,
.l-home-skills {
  padding: util.$size-M util.$page--gutter-width-S 3rem;

  @include util.breakpoint(XL) {
    padding: util.$size-M (util.$page--gutter-width-XL * 2) 3rem;
  }
}

.l-home-experience {
  background-color: util.$grey-lightest;

  @include util.breakpoint(XL) {
    background-image: url("../images/experience/background-XL-2x.png");
    background-repeat: no-repeat;
  }

  .home-nav__header {
    color: util.$grey-cover;

    @include util.breakpoint(XL) {
      color: util.$grey-medium;
    }
  }
}
