<footer class="footer">
  <div class="footer__body">
    <div class="footer__identity">
      <span class="footer__name"><span class="first">Matthew</span> <span class="last">Dingee</span></span>
      <span class="footer__title">Designer</span>
    </div>
    <ul class="footer__links">
      <li>
        <a href="mailto:matthew.j.dingee@gmail.com"><i class="far fa-envelope" aria-hidden="true"></i> Email</a>
      </li>
      <li>
        <a href="tel:+12027250202"><i class="fas fa-phone" aria-hidden="true"></i> Call</a>
      </li>
      <li>
        <a href="https://github.com/humancompanion"><i class="fab fa-github-square" aria-hidden="true"></i> GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/matthewdingee/"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
