<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta
    name="keywords"
    content="matthew dingee, portfolio, resume, user experience designer, service designer, UX design, service design, interaction designer, interaction design, design, information architect, UI, UX, architect, developer"
  />
  <meta name="description" content="About Matthew Dingee" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    media="screen"
    href="{{ site.baseurl }}/assets/css/{{ site.print-styles }}"
  />
  <link
    rel="stylesheet"
    media="print"
    href="{{ site.baseurl }}/assets/css/{{ site.print-styles }}"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  />
</head>
