// ---------------------------------------------------------------------------
// Sizing

$size-base  : 4px;
$size-S     : $size-base * 2;  // 8px
$size-SM    : $size-base * 3;  // 12px
$size-M     : $size-base * 4;  // 16px
$size-ML    : $size-base * 6;  // 24px
$size-L     : $size-base * 9;  // 36px
$size-XL    : $size-ML * 2; // 48px

// ---------------------------------------------------------------------------
// Layout

$page--max-width          : 75em;
$page--gutter-width-S     : 0.8rem;
$page--gutter-width-XL    : 1.8rem;

$primary-nav--width       : 228px;
