// ---------------------------------------------------------------------------
// Component: Accordion

@import "util/util";
@import "util/component-mixins";

.accordion {

  label {
    position: relative;
    display: block;
    height: 4em;
    cursor: pointer;
    z-index: 20;
    border-top: 1px solid $grey-light;

    &:after {
      content: '\25BE';
      position: absolute;
      right: $size-SM;
      top: $size-M;
      transition: all 0.3s;
      font-size: $type-ML;
      color: $grey-medium;
    }
  }

  input {
    display: none;
  }

  input:checked + label,
  input:checked + label:hover {
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
  }

  input:checked + label:after {
    transform: rotate(180deg);
  }

  .module-title {
    @include type-2();
    margin: 0;
    padding: $size-ML $size-SM;
    line-height: 1;
    text-transform: inherit;
  }

  .module-title__desc {
    display: block;
    @include type-small();
    margin: 0;
    padding-left: $size-base;
    line-height: 1.5;
  }

}

.accordion--bleed {
  @include bleed();
  padding-left: 0;
  padding-right: 0;
}
