// ---------------------------------------------------------------------------
// Component: Header

@import "util/util";

.header {
  @include bleed();
  border-bottom: 1px solid $red;
}

.header-home {
  &__title {
    @include type-4();
    margin: 2em 0 1em;

    @include breakpoint(ML) {
      padding-left: 15%;
    }
  }
}

.header-resume {
  @include clear();

  &__title {
    @include breakpoint(M) {
      float: left;
      width: 60%;
    }
  }

  &__body {
    @include breakpoint(M) {
      float: right;
      width: 40%;
    }
  }

  &__email {
    display: block;
    margin-top: calculateRem($base-line-height * 2);
  }

  &__footer {
    @include clear();
  }

  &__sub-title {
    font-style: italic;
  }
}

