// ---------------------------------------------------------------------------
// Component: Header

@import "util/util";

.header {
  border-bottom: 1px solid $red;
  background-color: $white;

  @include breakpoint($layout-nav_switch) {
    border-bottom: 0;
  }

  &__body {
    padding: 0 $page--gutter-width-S;
    z-index: 1;

    @include breakpoint($layout-nav_switch) {
      margin-top: 2rem;
    }

    @include breakpoint(XL) {
      padding: 0 $page--gutter-width-XL;
    }
  }

  &__title {
    margin-top: 0;
    padding-top: 3rem;
  }

  &__nav-toggle {
    display: block;
    position: absolute;
    top: $size-M;
    right: $size-SM;
    height: $size-L + 4px;
    width: $size-L;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include breakpoint($layout-nav_switch) {
      display: none;
    }

    .hamburger {
      display: block;
      position: absolute;
      height: $size-base;
      width: 100%;
      background: $grey-medium;
      border-radius: $size-base;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: $size-base * 2;
      }
      &:nth-child(3) {
        top: $size-base * 4;
      }
    }

    .label {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      @include type-xsmall($font_light);
      font-size: 10px;
      text-transform: uppercase;
      color: $grey-medium;
    }
  }

  &__nav-toggle.is-open .hamburger {
    &:nth-child(1) {
      top: $size-base * 2;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -#{$size-L};
    }
    &:nth-child(3) {
      top: $size-base * 2;
      transform: rotate(-135deg);
    }
  }
}

.header-home {
  margin-bottom: $size-L;

  &__title {
    @include breakpoint(ML) {
      padding-left: 15%;
    }
  }
}

.header-resume {
  @include clearfix();

  &__title {
    margin-bottom: 0;
  }

  &__sub-title {
    font-style: italic;
  }
}

.header-case-study {
  &__title {
    margin-bottom: $size-S;
  }

  &__project {
    margin-top: 0;
  }

  &__url {
    @include type-xsmall($font_light);
    text-transform: lowercase;

    @include breakpoint(MLL) {
      @include type-body($font_light);
      float: right;
      margin-top: 1.2rem;
    }
  }
}

