// ---------------------------------------------------------------------------
// Component: Navigation

@import "util/util";

.primary-nav {
  position: absolute;
  top: -#{$primary-nav--height};
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: -1;
  background-color: $grey-medium;
  transform: none;
  transition: none;

  @include breakpoint($layout-nav_switch) {
    top: 0;
    z-index: 0;
    background-color: $white;
  }

  &:focus {
    outline: 0;
  }

  &__a {
    display: block;
    width: 100%;
    @include type-4();
    margin: 0;
    padding: $size-M;
    color: $white;
    border-bottom: 1px solid $grey-light;

    @include breakpoint($layout-nav_switch) {
      @include type-5();
      margin: 0;
      padding: $size-SM;
      color: $color_base;
      border-bottom-color: $color_link;
    }

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $grey-light;
    }

    &.is-current {
      opacity: 0.8;

      &:hover {
        color: $color_base;
        background-color: inherit;
      }
    }
  }

  .list-item {
    @include breakpoint($layout-nav_switch) {
      display: inline-block;
      width: 24%;
    }
  }

  &__body {
    padding: 0;

    li {
      margin: 0;
    }
  }
}

.home-nav__body,
.case-study-nav__body {
  @include type-body($font_light);
  @include lineHeight($base-line-height + 2px);
}

.case-study-nav__title {
  &.is-current {
    padding-left: $size-base;
  }
}

.home-nav__header,
.case-study-nav__header {
  font-weight: bold;
}

.site-nav {
  margin-top: $size-L;
  padding: 1rem;
}


