// ---------------------------------------------------------------------------
// Component: Navigation

@import "util/util";

.primary-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  overflow: auto;
  z-index: -1;
  padding: 2rem 0 0.5rem;
  background-color: $grey-medium;

  @include breakpoint(ML) {
    display: inherit;
  }

  .primary-nav__a {
    display: block;
    width: 100%;
    @include type-4();
    margin: 0;
    padding: $size-M;
    color: $white;
    border-bottom: 1px solid $grey-light;

    &:hover {
      text-decoration: none;
      background-color: $grey-light;
    }
  }
}

.home-nav__body,
.case-study-nav__body {
  @include type-body($font_light);
  @include lineHeight($base-line-height + 2px);
}

.case-study-nav__title {
  &.is-current {
    padding-left: $size-base;
  }
}

.home-nav__header,
.case-study-nav__header {
  font-weight: bold;
}

.site-nav {
  margin-top: $size-L;
  padding: 1rem;
}


