@use "util/util";

// ---------------------------------------------------------------------------
// Component: Skip link
.skip-link {
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 10;
  padding: util.$size-S util.$size-M;
  color: util.$grey-cover;
  background: util.$white;
  transform: translateX(-50%);

  &:focus {
    top: 0;
  }
}
