/*////////////////////////////////////////////////////////*/
/*//                                                    //*/
/*//    Lists                                           //*/
/*//                                                    //*/
/*////////////////////////////////////////////////////////*/

@mixin defaultList() {
  list-style: none;
  @include type-body();
  margin: 0;
  padding: 0;

  > li {
    line-height: $base-line-height;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
  }
}

$margin-bottom-default: 1rem;


// UNORDERED, ORDERED
ul,
ol {
  @include defaultList();
}

.list--bullet {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: disc;
    margin-left: 1.25rem;
    margin-bottom: $size-S;
  }
}

.list--ordered {
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: decimal;
    margin-left: 1.25rem;
    line-height: $base-line-height;
  }
}


// INLINE
.list--inline {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    display: inline;
  }
}

.list--inline.contact-info {
  li {
    display: block;
    width: 100%;

    a {
      display: inline-block;
    }
  }

  @include breakpoint(SM) {
    li {
      display: inline;

      &:after {
        content: '\2022';
        padding-left: 5px;
      }

      a {
        padding: $size-base;
      }
    }
    li:last-child:after {
      content: '';
    }
  }
}

.list--inline.contact-info--buttons {
  padding: 0 $page--gutter-width-S;

  li {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    padding: 0;

    @include breakpoint(SM) {
      display: inline;
      width: auto;
    }

    &:first-child {
      @include breakpoint(SM) {
        margin-right: .5rem;
      }
    }
  }

  .btn,
  .btn--primary {
    font-size: $type-XS;
    width: 100%;

    @include breakpoint(SM) {
      width: auto;
    }
  }
}


// COMMA
.list--comma {
  @include defaultList();

  > li {
    &:after {
      content:', '
    }
  }
}

.list--definition {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  dd + dt {
    margin-top: $margin-bottom-default / 2;
  }
}

// MEDIA OBJECT
.list--media-object {
  display: table-cell;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
     -moz-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
     -moz-box-align: start;
          box-align: start;
  -webkit-align-items: flex-start;
     -moz-align-items: flex-start;
      -ms-align-items: flex-start;
          align-items: flex-start;
       -ms-flex-align: start;
  width: 100%;
  padding: 0.8rem;

  &:hover {
    text-decoration: none;
  }

  &__figure {
    margin-right: 0.65rem;
    vertical-align: top;
    min-width: 65px;
  }

  &__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  }

  &__header {
    margin-top: 0;
    padding-top: 0;
  }

  &__link {
    color: $color_link;
  }
}
