// ---------------------------------------------------------------------------
// Base: Shell
body {
  background-color: $grey-medium;
}

.l-shell {
  position: relative;
  max-width: $page--max-width;
  margin: 0 auto;
  padding: 0 $page--gutter-width-S;
  background: $grey-lightest;
  border: solid $grey-medium;
  border-width: 8px 0 2px 0;

  @include breakpoint(ML) {
    padding: 0 $page--gutter-width-ML;
  }
}
