---
permalink: resume/federal/
title: Matthew Dingee - Federal Resume
layout: print-resume
body-class: l-federal-resume
---

<section id="profile">
  <div class="section_title">
    <h2>Profile</h2>
  </div>
  <div class="section_body first">
    <p class="enlarge">
      I am a human-centered designer with the ability to think and act on the surface to the core of a product or
      service. I focus on problem framing and continual discovery, including research and co-design with users, to
      creatively solve problems and make solutions real via rapid prototyping.
    </p>
    <p class="enlarge">
      I have been focused on digital transformation of federal hiring for the last five years in my work for U.S.
      Digital Service and The Lab at OPM. I believe a federal government infused with human-centered design will one day
      consistently make evidenced-based policy decisions informed by qualitative and quantitative research done with
      citizens. I have fifteen years of experience designing and building software to manage critical enterprise
      processes. I bridge the gap from strategist to practitioner and help teams ship.
    </p>
  </div>
</section>

{% assign experience = site.data.experience-federal.jobs %}
<section id="experience">
  <div class="section_title">
    <h2>Experience</h2>
  </div>
  <div class="section_body">
    {% for job in experience %}
    <div class="job" id="{{ job.name | slugify }}">
      <div class="job__details">
        <h3>{{ job.name }}</h3>
        <p class="location">{{ job.location }}</p>
        <h4>{{ job.title }}{% if job.org %}, {{ job.org }}{% endif %}</h4>
        {% if job.grade %}
        <p class="job__meta">{{ job.grade }}; {{ job.work-schedule }}, {{ job.appointment-type }}; {{ job.hours-per-week }} hours per
          week</p>
        {% else %}
        <p class="job__meta">{{ job.work-schedule }}, {{ job.hours-per-week }} hours per week</p>
        {% endif %}
        <p class="job__meta">{{ job.start-date }} - {{ job.end-date }} <span class="job__timespan">({{ job.timespan }})</span></p>
      </div>
      {% for accomplishment in job.accomplishments %}
      <ul class="accomplishments">
        <li class="accomplishment_desc">
          {{ accomplishment.accomplishment }}
        </li>
        {% for description in accomplishment.descriptions %}
        <li>
          {{ description.desc }}
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="eduction">
  <div class="section_title">
    <h2>Education</h2>
  </div>
  <div class="section_body">
    <dl class="education__list">
      <dt>George Washington University - Washington, DC</dt>
      <dd>Bachelor of Arts, American Literature</dd>
    </dl>
  </div>
</section>
<p class="notes notes--extended">
  Extended professional experience, references, and code samples available by request.
</p>