---
permalink: resume/
layout: default
title: Resume
body-class: l-resume
profile: v2
---

<section id="profile">
  <div class="section_title">
    <h2>Profile</h2>
  </div>
  <div class="section_body first">
    {% assign profile = site.data.profiles[page.profile] | default: site.data.profiles.v2 %}
    {% for paragraph in profile.paragraphs %}
    <p class="enlarge">{{ paragraph }}</p>
    {% endfor %}
  </div>
</section>

<section class="skills">
  <div class="section_title">
    <h2>Skills</h2>
  </div>
  <div class="section_body">
    {% for group in site.data.skills.skills %}
    <dl>
      <dt>{{ group.category }}</dt>
      {% for item in group.items %}<dd>{{ item }}</dd>{% endfor %}
    </dl>
    {% endfor %}
  </div>
</section>

<section id="technical">
  <div class="section_title">
    <h2>Technical</h2>
  </div>
  <div class="section_body">
    {% for group in site.data.skills.technical %}
    <ul class="talent">
      {% for item in group.items %}<li>{{ item }}</li>{% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>

{% assign experience = site.data.experience.jobs %}
<section id="experience">
  <div class="section_title">
    <h2>Experience</h2>
  </div>
  <div class="section_body">
    {% for job in experience %}
    <div class="job" id="{{ job.name | slugify }}">
      {% if job.roles %}
      <div class="job__header">
        <h3>{{ job.name }}</h3>
        <p class="location">{{ job.location }}</p>
        {% if job.grade %}
        <p class="job__meta">{{ job.grade }}; {{ job.work-schedule }}, {{ job.appointment-type }}</p>
        {% endif %}
      </div>
      {% for role in job.roles %}
      <div class="job__role">
        <div class="job__details">
          <h4>{{ role.title }}</h4>
          <p class="job__meta">{{ role.dates }} (<span class="job__timespan">{{ role.timespan }}</span>)</p>
        </div>
        <ul class="accomplishments">
          {% for accomplishment in role.accomplishments %}
          <li class="accomplishment_desc">
            {{ accomplishment.accomplishment }}
          </li>
          {% for description in accomplishment.descriptions %}
          <li>
            {{ description.desc }}
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      {% else %}
      <div class="job__details">
        <h3>{{ job.name }}</h3>
        <p class="location">{{ job.location }}</p>
        <h4>{{ job.title }} {% if job.org %}<span class="job__org">, {{ job.org }}{% endif %}</span></h4>
        {% if job.grade %}
        <p class="job__meta">{{ job.grade }}; {{ job.work-schedule }}, {{ job.appointment-type }}</p>
        {% endif %}
        <p class="job__meta">{{ job.start-date }} - {{ job.end-date }} (<span class="job__timespan">{{ job.timespan }}</span>)</p>
      </div>
      <ul class="accomplishments">
        {% for accomplishment in job.accomplishments %}
        <li class="accomplishment_desc">
          {{ accomplishment.accomplishment }}
        </li>
        {% for description in accomplishment.descriptions %}
        <li>
          {{ description.desc }}
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<section id="eduction">
  <div class="section_title">
    <h2>Education</h2>
  </div>
  <div class="section_body">
    <dl class="education__list">
      <dt>George Washington University - Washington, DC</dt>
      <dd>Bachelor of Arts, American Literature</dd>
    </dl>
  </div>
</section>
<p class="notes notes--extended">
  Extended professional experience, references, and code samples available by request.
</p>