---
permalink: resume/
layout: default
body-class: l-resume
---

<section id="profile">
  <div class="section_title">
    <h2>Profile</h2>
  </div>
  <div class="section_body first">
    <p class="enlarge">
      I am a human-centered designer with the ability to think and act on the surface to the core of a product or
      service. I focus on problem framing and continual discovery, including research and co-design with users, to
      creatively solve problems and make solutions real via rapid prototyping. I have over twenty five years of
      experience designing and building software.
    </p>
    <p class="enlarge">
      I have been focused on digital transformation in the public sector for the last nine years. I continue to believe
      that eventually the federal government, infused with human-centered design, will one day consistently make
      evidenced-based policy decisions informed by qualitative and quantitative research done with citizens.
    </p>
  </div>
</section>

<section class="skills">
  <div class="section_title">
    <h2>Skills</h2>
  </div>
  <div class="section_body">
    <dl>
      <dt>Design discovery</dt>
      <dd>Co-creation workshops</dd>
      <dd>Interviews</dd>
      <dd>Content inventory</dd>
    </dl>
    <dl>
      <dt>Service design</dt>
      <dd>Journey maps</dd>
      <dd>Service blueprints</dd>
      <dd>Project plans</dd>
    </dl>
    <dl>
      <dt>UX design</dt>
      <dd>Information architecture</dd>
      <dd>Prototypes &amp; usability tests</dd>
      <dd>Design Systems</dd>
    </dl>
  </div>
</section>

<section id="technical">
  <div class="section_title">
    <h2>Technical</h2>
  </div>
  <div class="section_body">
    <ul class="talent">
      <li>HTML5</li>
      <li>Javascript</li>
      <li>Sass &amp; CSS</li>
    </ul>

    <ul class="talent">
      <li>Figma</li>
      <li>Mural</li>
      <li>Adobe Creative Cloud</li>
    </ul>

    <ul class="talent">
      <li>Git &amp; GitHub</li>
      <li>AI tools: Chat GPT, GitHub Copilot, Cline</li>
      <li>Ruby &amp; Rails</li>
    </ul>
  </div>
</section>

{% assign experience = site.data.experience.jobs %}
<section id="experience">
  <div class="section_title">
    <h2>Experience</h2>
  </div>
  <div class="section_body">
    {% for job in experience %}
    <div class="job" id="{{ job.name | slugify }}">
      <div class="job__details">
        <h3>{{ job.name }}</h3>
        <p class="location">{{ job.location }}</p>
        <h4>{{ job.title }} {% if job.org %}<span class="job__org">, {{ job.org }}{% endif %}</span></h4>
        {% if job.grade %}
        <h5>{{ job.grade }}; {{ job.work-schedule }}, {{ job.appointment-type }}</h5>
        {% endif %}
        <h5>{{ job.start-date }} - {{ job.end-date }} (<span class="job__timespan">{{ job.timespan }}</span>)</h5>
      </div>
      <ul class="accomplishments">
        {% for accomplishment in job.accomplishments %}
        <li class="accomplishment_desc">
          {{ accomplishment.accomplishment }}
        </li>
        {% for description in accomplishment.descriptions %}
        <li>
          {{ description.desc }}
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<section id="eduction">
  <div class="section_title">
    <h2>Education</h2>
  </div>
  <div class="section_body">
    <dl class="education__list">
      <dt>George Washington University - Washington, DC</dt>
      <dd>Bachelor of Arts, American Literature</dd>
    </dl>
  </div>
</section>
<p class="notes notes--extended">
  Extended professional experience, references, and code samples available by request.
</p>