// ---------------------------------------------------------------------------
// Layout: Print version of Resume
@media print {
  @import url('http://fonts.googleapis.com/css?family=Roboto:300');

  @import "util/util-print";
  @import 'base/typography';

  body {
    background-color: $white;
  }

  p,
  .section_body,
  .notes {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: $base-font-size;
  }

  .l-shell {
    border: 0;
  }

  .content-well {
    padding-bottom: 0.5rem;
  }

  .footer {
    padding: 0;

    .contact-info {
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-weight: 300;
    }
  }

  // Have to get everything onto a page so remove header margins
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  h4 {
    line-height: 1.8rem;
  }

  h5 {
    margin-bottom: 0;
    line-height: 1.6rem;
  }

  // Hide the menu
  .header__nav-toggle {
    display: none;
  }

  .header__title {
    padding-top: 0.5rem;
  }

  .header-resume__sub-title {
    margin-bottom: 0.4rem;
  }

  .section_title {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  p {
    max-width: inherit;
    margin-bottom: 0.5rem;
  }

  .enlarge {
    @include type-6();
    margin: 0 0 0.5rem;
    line-height: $base-line-height * 1.1;
  }

  #technical {
    display: none;
  }

  // Shove Skills around
  .skills .section_title {
    display: none;
  }

  .skills div.section_body dl {
    float: left;
    width: 33%;
    margin-bottom: 0;
    padding-left: 1rem;

    dt {
      margin: 0;
    }

    dd {
      display: none;
    }
  }

  .job {
    @include clearfix();
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      padding-top: 0;
      border-top: 0;
    }

    h4,
    h5 {
      font-family: Roboto, sans-serif;
      font-weight: 300;
    }

    &__details {
      float: left;
      width: 33%;
    }
    &__timespan {
      display: block;
    }
  }

  #railsdog {
    display: none;
  }

  .location {
    display: none;
  }

  // Hide accomplishment details
  .accomplishments {
    float: right;
    width: 65%;
    margin-left: 2%;

    li {
      display: none;
    }

    li.accomplishment_desc {
      display: inherit;
      margin-top: 0;
      margin-bottom: 0;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      line-height: $type-M;
    }
  }
}
