<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include print-head.html %}

  <body class="{{ page.body-class }}">
    <div class="l-shell">
      <header class="header header-resume" data-object="header">
        <div class="header__body">
          <h1 class="header__title">Matthew Dingee</h1>
          <span class="header__portfolio">
            {% if page.contact %}
            <span class="header__contact">
              <a href="mailto:matthew.j.dingee@gmail.com"
                >matthew.j.dingee@gmail.com</a
              >
            </span>
            <span class="header__contact">
              <a href="tel:+12027250202">(202) 725-0202</a>
            </span>
            {% endif %} Portfolio:
            <a href="https://www.abarrelofthis.com/"
              >https://www.abarrelofthis.com/</a
            >
          </span>
        </div>
      </header>
      <main class="content-well" id="main" tabindex="-1">
        <div class="content-well__container">
          {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>
