/* --------------------------------------------------------------------------- */
// BASE: Fonts

@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/proximanova-reg-webfont.eot');
  src: url('fonts/proximanova-reg-webfont.woff') format('woff'),
       url('fonts/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/*
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
       url('fonts/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
*/

