@use "util/util";

/* Links
---------------------------------------- */
a {
  color: util.$color_link;
  line-height: inherit;
  text-decoration: underline;

  &:link {
    -webkit-tap-highlight-color: transparent;
  }

  &:hover {
    color: util.$color_linkhover;
  }

  &:active {
    color: util.$color_linkactive;
  }

  &:focus {
    color: util.$color_linkactive;
    outline-offset: 2px;
  }
}

