@use "util/util";

// ---------------------------------------------------------------------------
// Base: Shell
html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: util.$grey-cover;

  :focus {
    outline: 2px solid util.$grey-cover;
    outline-offset: 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.l-shell {
  z-index: 1;
  max-width: util.$page--max-width;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: util.$white;
  border: solid util.$grey-cover;
  border-width: 8px 0 2px 0;
  transition: 0.3s ease all;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.content-well {
  padding: 0 util.$page--gutter-width-S 3rem;
  background: util.$white;

  @include util.breakpoint(XL) {
    padding: 0 util.$page--gutter-width-XL 3rem;
  }
}

body.is-pushed {
  .l-shell {
    transform: translateY(util.$primary-nav--height);
    transform: translate3d(0, util.$primary-nav--height, 0);
  }
}

.l-site-nav {
  margin-top: util.$size-ML;
  padding: util.$size-M;
}
